<section id="digimon-section">
  <div id="digimon-title">Random Digimon</div>
  <div id="digimon-div"></div>
  <div id="digimon-caption">* <a id="digimon-link" href="https://digimon-api.herokuapp.com">Digimon API</a></div>
</section>