      <footer>
        <img class="footer-logo" src="img/csumblogo.png" alt="CSUMB logo">
        <div class="footer-text">
          Copyright &copy; Juli S. - CST336 CSUMB<br />
          <strong>Disclaimer</strong>: This website is part of an academic assignment.<br />
        </div>
      </footer>
  </body>
</html>