<header>
  <div class="header-logo">
    <a href="/">Linked Lists</a>
  </div>
  <nav>
    <a class="nav-links" href="/">Intro</a>
    <a class="nav-links" href="/singlyLL">Singly LL</a>
    <a class="nav-links" href="/doublyLL">Doubly LL</a>
    <a class="nav-links" href="/circularLL">Circular LL</a>
  </nav>
</header>